html,body {
	font-family: 'Fira Sans';

}


.jumbotron {
	color:#ffffff;
	height: 100vh;
	/*background-image: url(/images/background6.jpg);*/
	background-image: url(/images/couple1.png);
	background-position: 50% 0%;
	margin-top:-20px;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}




.btn-clear {
  color: #ffffff;
  background-color: #46DBC2;
  border-color: #ffffff;
  border-radius: 0px;
}

.btn-clear:hover,
.btn-clear:focus,
.btn-clear:active,
.btn-clear.active,
.open .dropdown-toggle.btn-default {
  color: #000000;
  background-color: #00BA9B;
  border-color: #ffffff;
}

.imageLove {
	min-height:400px;
	background-image: url(/images/laptopRecommendation.jpg);
    background-size: contain;
    background-repeat: no-repeat;
	background-position:100% 0%;

}


.image {
	min-height: 400px;
	background-image: url(/images/DeathtoStock_Medium5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	background-position:0% 0%;

}





.imageFulton {
	min-height:400px;
	background-image: url(/images/jewelryStore.jpg);
    background-size: contain;
    background-repeat: no-repeat;
	background-position:100% 50%;
	
}

@media (max-width: 767px) {

.xsSpacing{

padding-top:170px;
}

.imageLove {
	background-position:50% 0%;
	background-size: contain;
}

.image {
	background-position:50% 50%;
}

.imageFulton {

	background-position:50% 50%;
	background-size:cover;
}

.textCenter{
	text-align: center;

}

}


@media (min-width: 768px) {

.smSpacing{

padding-top:100px;
}

.imageLove {
	background-position:50% 0%;
	background-size: contain;
}

.image {
	background-position:50% 50%;
}

.imageFulton {

	background-position:50% 80%;
	background-size:cover;
}

.textCenter{
	text-align: center;

}
}


@media (min-width: 992px) {

.mdSpacing{

padding-top:100px;
}
}



@media (min-width: 1200px) {
.center1200{
	
	display: flex; 
	align-items: center;
}

.textRight{
	text-align: right;
}

.textLeft{
	text-align: left;

}

.lgSpacing{

padding-top:150px;
}
}





.rotate {

/* Safari */
-webkit-transform: rotate(-45deg);

/* Firefox */
-moz-transform: rotate(-45deg);

/* IE */
-ms-transform: rotate(-45deg);

/* Opera */
-o-transform: rotate(-45deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);

}


.content-shadow{
	-moz-box-shadow: -5px 5px 10px #46DBC2;
	-webkit-box-shadow: -5px 5px 10px #46DBC2;
	box-shadow: -5px 5px 10px #46DBC2;
}

/*Below are the code for the various facebook, twitter, and pinterest images for sharing. */
.share {
background-image: url("/images/share.png");
background-repeat: no-repeat;

}

.share-facebook{
background-position: 0 0px;
height: 16px;
width: 16px;
display: inline-block;
}

.share-twitter{
background-position: 0 -160px;
height: 16px;
width: 16px;
display: inline-block;
}

.share-pinterest{
background-position: 0 -80px;
height: 16px;
width: 16px;
display: inline-block;
}

/* This is to control the left and right button */
#next
{

font-size:50px;
text-align:right;
cursor:pointer;
}

#back
{

font-size:50px;
text-align:left;
cursor:pointer;
display:none;
}


/*warning for budget */
.alert-danger{
color:rgb(214,140,137);
background-color:rgb(23,27,38);
border:0px;
border-radius:0px;

}


/*edit the carousel color*/
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -50px;
  width: 0px;
  font-size: 20px;
  color: black;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: -50px;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #000;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}



@media (min-width: 768px): {
#test1
{
	padding: 550px 50px;
}


}


#info{

font-size:3.5em;
	text-align:center;
	
	}
	
#helloAnimation{
	
	/* Chrome, Safari, Opera */
    -webkit-animation-name: helloAnimation;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;

    /* Standard syntax */
    animation-name: helloAnimation;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;

}

@-webkit-keyframes helloAnimation {
    0%  {opacity:0}
	100% {opacity:1.0}
}

@keyframes helloAnimation {
    0%  {opacity:0}
	100% {opacity:1.0}
}

.style-4 input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
.style-4 input[type="text"]:focus,
.style-4 input[type="text"].focus {
  border-bottom: solid 2px #969696;
}

.style-4 input[type="number"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  
}
.style-4 input[type="number"]:focus,
.style-4 input[type="number"].focus {
  border-bottom: solid 2px #969696;
}


.new-indicators {
  text-align: center;
  list-style: none;
}
.new-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  background-color:#fff
  border: 1px; 
  border-style:solid;
  border-color:#000;
  border-radius: 10px;
}
.new-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #000;
}
