body
{
margin:0px;
padding:0px;
/*border-style:dotted;
border-width:1px;*/
}

#header
{
font-family:Arial,Helvetica,Garuda,sans-serif;
position:relative;
width:1024px;
height:50px;
margin:0px auto;
padding:0px;
/*border-style:dotted;
border-width:1px;*/
}

#headersignup
{
position:absolute;
top:25px;
right:50px;
width:250px;
height:50px;
margin:0px;
padding:0px;
/*border-style:dotted;
border-width:1px;*/
}

#button
{
clear:both;
margin-left:150px;
width:125px;
height:31px;
background:#666666 url(img/button.png) no-repeat;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}

a.noline
{
outline:none;
border:none;
}

a.noline:link 
{
text-decoration:none;
}

#container
{
position:relative; 
top:0px;
width:1024px;
height:300px;
margin:0px auto;
padding:0px;
/*border-style:dotted;
border-width:3px;*/
}

#containerbg
{
/*background-color:#6F7B7D;*/
position:absolute;
width:2000px;
top:50px;
margin:0px;
padding:0px;
z-index:-1;
/*border-style:dotted;
border-width:3px;*/
}

#containerbg img.bg
{
max-height:800px;
min-width:100%;
}

#container2
{
position:absolute;
top:25px;
right:490px;
margin:0px auto;
}

#content1
{
font-family:Arial,Helvetica,Garuda,sans-serif;
text-align:right;
font-size:36px;
width:150px;
margin:0px;
padding:20px 0px 0px 20px;
/*border-style:dotted;
border-width:1px;*/
}

#content1 p
{
font-size:20px;
}

#content2
{
font-family:Arial,Helvetica,Garuda,sans-serif;
font-size:36px;
position:absolute;
top:0px;
left:200px;
width:380px;
margin:0px;
padding:20px 0px 0px 20px;
/*border-style:dotted;
border-width:1px;*/
}

#content2 p
{
font-size:20px;
}

#content4
{
font-family:Arial,Helvetica,Garuda,sans-serif;
font-size:12px;
background-color:#FFFFFF;
border-radius:30px;
position:absolute;
top:275px;
left:50px;
height:358px;
width:500px;
margin:0px;
padding:20px;
/*border-style:solid;
border-color:#C8E2F7;
border-width:2px;*/
}

#content4 p.title
{
font-size:25px;
font-weight:bold;
margin:0px;
padding:0px;
}

#content4 p.word
{
font-size:16px;
margin:0px;
padding:10px 0px 0px 0px;
}

#content5res
{
font-family:Arial,Helvetica,Garuda,sans-serif;
font-size:12px;
background-color:#FFFFFF;
border-radius:10px;
position:absolute;
top:150px;
left:0px;
height:358px;
width:400px;
margin:0px;
padding:20px;
/*border-style:solid;
border-color:#C8E2F7;
border-width:2px;*/
}

#content5res p.title
{
font-size:25px;
font-weight:bold;
margin:0px;
padding:0px;
}

#content5res p.word
{
font-size:16px;
margin:0px;
padding:10px 0px 0px 0px;
}

#footer
{
width:auto;
height:100px;
margin:0px auto;
padding:0px;
/*border-style:dotted;
border-width:1px;*/
}

#footerbar
{
background-color:#C8E2F7;
width:auto;
height:1px;
margin:0px auto;
padding:0px;
}

#footer1
{
position:absolute;
left:400px;
width:100px;
margin:10px 0px 0px 20px;
padding:0px;
/*border-style:dotted;
border-width:1px;*/
} 

#footer1 p
{
font-family:Arial,Helvetica,Garuda,sans-serif;
font-size:11px;
margin:0px;
padding:0px;
}



