body
{
color:#b2b2b2;
}

.wrapper
{
margin:150px auto;
width:1000px;
height:700px;

}

.titleplace
{
margin:5px;
}

#titlefont
{
text-align:center;
font-size:600%;
font-weight:bold;
color:#ffffff;
}

.tagplace
{
margin:auto;
width:550px;
}

#tagplacefont
{
text-align:center;
font-size:150%;
color:#ffffff;
}

.buttonplace
{
margin:25px auto;
width:250px;
}

#start_button
{
margin:0px;
width:250px;
height:75px;
padding:5px 10px 6px 7px;
background-color:#FFD92A;
border:0px;
font-size:140%;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
line-height:130%;
text-decoration:none;
font-weight:bold;
cursor:pointer;
}

.textplace
{
margin:auto;
width:500px;
height:150px;

}

#paragraphfont
{
text-align:justify;
}

footer
{
font-size:85%;
text-align:center;
}



